<div class="row">
    <div class="col-md-8 friend_req">
        
        <div class="user_about">  
            <h1>About <%= @user.first %></h1>
            <% if @user.birthday %>
            <p><span class="glyphicon glyphicon-glass"></span> Birthday: <%= @user.format_date %></p>
            <% end %>
        
            <p><span class="glyphicon glyphicon-briefcase"></span> Job: <%= @user.employer %></p>
        
            <p><span class="glyphicon glyphicon-education"></span> School: <%= @user.school %></p>
        
            <p><span class="glyphicon glyphicon-home"></span> Location: <%= @user.residence %></p>
    
            <% if @user == current_user %>
              <%= link_to "Update", edit_user_path(@user) %>
            <% end %>
        </div>
    </div>
</div>
