
<h3>Personal Info</h3>
<%= form_for @user, html: { multipart: true } do |f| %>

<%= f.label :birthday %><br />
    <%= f.date_field :birthday, autofocus: true, class: 'form-control' %>

<%= f.label :job %><br />
    <%= f.text_field :employer, autofocus: true, class: 'form-control' %>

<%= f.label :school %><br />
    <%= f.text_field :school, autofocus: true, class: 'form-control' %>

<%= f.label :residence %><br />
    <%= f.text_field :residence, autofocus: true, class: 'form-control' %>

<h3>Profile Picture</h3>
<%= gravatar_for(@user) %>
<%= f.file_field :avatar %>

<%= f.submit "Update", class: "btn btn-primary accept" %>

<% end %>