<div class="row">
  <div class="col-md-6">
      <h1 id="prof_pic"><%= gravatar_for @user %></h1>
    <h1 id="prof_name"><%= @user.first %> <%= @user.last %></h1>
  </div>
</div>

  <div class="row">
    <div class="col-md-8 post_feed">
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
      <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
  </div>
</div>



