<div class="container cover_photo">
  <div class="row">
    <div class="col-md-6">
      <h1 id="prof_pic"><%= gravatar_for @user %></h1>
      <h1 id="prof_name"><%= @user.username %></h1>
    </div>
  </div>
    <div class="user_nav">
        <ul>
          <li>
            <%= link_to "Timeline", user_path(@user) %>
          </li>
          <li>
            <%= link_to "About", '#' %>  
          </li>
          <li id="last_item">
            <%= link_to "Friends", friendship_path(@user) %> 
            <span id="friend_count"><%= @user.all_friends.count %></span>
          </li>
        </ul>
      </div>
</div>

  <div class="container timeline">
      <div class="row">
      <div class="col-sm-4 prof_info">
        <h4>User info</h4> 
          <% if @user.birthday %>
            <p>Birthday <%= @user.format_date %></p>
          <% end %>
          <p>Job: <%= @user.employer %></p>
          <p>School: <%= @user.school %></p>
          <p>Lives in: <%= @user.residence %></p>
          <% if @user == current_user %>
            <%= link_to "Update", edit_user_path(@user) %>
          <% end %>
        </div>
          
          
          <div class="col-sm-4 prof_feed">
            <section class="post_form">
              <%= render 'shared/post_form' %>
            </section>
            <%= render 'shared/feed' %>
          </div>
          
          <div class="row">
          <div class="col-sm-4 user_friends">
            <h4><%= @user.first %>'s Friends</h4>
              <ul>
              <% @user.all_friends.each do |friend| %>
              <li>
                <%= link_to gravatar_for(friend, size: 20), user_path(friend) %>
                <%= link_to friend.username, user_path(friend) %>
              </li>
              <% end %>
              </ul>
          </div>
          </div>
      </div>
</div>



