<div class="each_post">
<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 20), post.user %>
  <span class="user">
      <%= link_to post.user.username, post.user %> 
      <br>     
      <span style="color: #90949c">
      <%= time_ago_in_words(post.created_at) %>
      </span>
  </span>
  <span class="content">
      <%= post.content %>
  </span>
  <span class="timestamp">
      <div id="like_form">
          <% if current_user.liked_posts.include?(post) %>
            <%= render 'likes/unlike', post: post, like: post.likes.find_by(user: current_user) %>
          <% else %>
            <%= render 'likes/like', post: post, like: @like %>
          <% end %>
      
</div>
      <% if current_user == post.user %>
        <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <% end %>
    </span>
      <hr>
      <div class="comments">
 <% post.comments.each do |comment| %>
    <div class="comment">
    <%= link_to gravatar_for(comment.user, size: 20), comment.user %>
    <%= link_to comment.user.username, comment.user %>
    <%= comment.content %>
        <div class="comment_options">
          <%= time_ago_in_words(comment.created_at) %>
          <% if current_user.comments.include?(comment) %>
             <%= link_to "delete", post_comment_path(post.id, commentable_id: post.id, id: comment.id), method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
        </div>
    </div>
  <% end %>
      
  <%= render partial: 'comments/form', locals: { comment: post.comments.build, commentable: post } %>
    </div>
    

</li>
</div>