<div class="each_post">
<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 20), post.user %>
  <span class="user"><%= link_to post.user.first, post.user %></span>
  <span class="content">
      <%= post.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user == post.user %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
      <% if current_user.liked_posts.include?(post) %>
        <%= link_to "Unlike", unlike_path(:post_id => post.id), method: :delete, class: "btn btn-primary accept" %>
      <% else %>
        <%= link_to "Like", post_likes_path(:post_id => post.id), method: :post, class: "btn btn-primary accept" %>
      <% end %>
      <%= pluralize(post.likes.count, "like") %>
    </span>

</li>
</div>
<div class="comments">
 <% post.comments.each do |comment| %>
    <div class="comment">
    <%= gravatar_for(comment.user, size: 20) %>
    <%= comment.user.username %>
    <%= comment.content %>
    </div>
  <% end %>
</div>