<div class="each_post">
<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 20), post.user %>
  <span class="user"><%= link_to post.user.first, post.user %></span>
  <span class="content">
      <%= post.content %>
  </span>
  <span class="timestamp">
 
    <% if current_user == post.user %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
</div>